<div class="col-xs-12 col-md-6">
                    <div class="social-media-twitter">
                        <span class="date" id="tweetDate">12.02.2016</span>
                        <div class="social-media-twitter-copy">
                            <p id="tweetText">Manche Dinge sind <a href="#">#untaggable</a>. Wie der neue Audi Q2. Verpasse nichts und folge uns auf <a href="#">http://audi.de/Tw_q2_13</a></p>
                        </div>
                        <div class="twitter-abo">
                            <img src="/content/dam/audi/images/desktop/system-twitter-large.png" srcset="/content/dam/audi/images/desktop/system-twitter-large.png 1x, /content/dam/audi/images/desktop/system-twitter-large@2x.png 2x" />
                            <div class="twitter-abo-links">
                                <span class="twitter-abo-copy">Audi Deutschland</span>
                                <a href="#">Abonnieren</a>
                            </div>
                        </div>
                    </div>
                </div>