<div class="jumbotron kampagnen">
                <div class="kampagnen-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 pull-right">
                                <div class="kampagnen-copy">
                                    <h1>Die Audi<br />Gebrauchtwagen<br />plus Wochen</h1>
                                    <h2>Attraktive Gebrauchte, Jahres- und Werkdienstwagen</h2>
                                    <button>Informieren</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kampagnen-image nonmobile hidden-xs">
                    <img src="/content/dam/audi/images/desktop/backgroundimages/gebrauchtwagen.jpg" />
                </div>
                <div class="kampagnen-image mobile hidden-lg hidden-md hidden-sm">
                    <img src="/content/dam/audi/images/mobile/gebrauchtwagen.png" srcset="/content/dam/audi/images/mobile/gebrauchtwagen.png 1x, /content/dam/audi/images/mobile/gebrauchtwagen@2x.png 2x" />
                </div>
            </div>
