
<div data-sly-resource="${ @path='Model Selector Container', resourceType='foundation/components/parsys'}"></div>


    <section>

            <div class="container content" >

                <div data-sly-resource="${ @path='Map and Login Module Container', resourceType='foundation/components/parsys'}"></div>
                
            </div>

            <div class="jumbotron brand-teaser" style="display:block">
                <div class="brand-teaser-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="brand-teaser-copy">
                                    <h1>Selten ein Weg zu weit</h1>
                                    <h2>Die Technik des A4 allroad quattro</h2>
                                    <p>Der neue A4 allroad quattro steht für exklusiven Offroad-Charakter. Er vereint extrovertiertes Design mit maximaler Funktionalität und genießt damit eine Alleinstellung in seinem Segment. Die kraftvoll ausgestellten Radläufe und die erhöhte Bodenfreiheit machen den A4 allroad quattro zu einem perfekten Begleiter für leichtes Gelände. Das Fahrerlebnis wird durch den namensgebenden Allradantrieb quattro ermöglicht: Mehr Dynamik, mehr Traktion und ein gutes Gefühl auf nahezu jeder Strecke.</p>
                                    <button>Informieren</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="brand-teaser-image">
                    <img class="nonmobile hidden-xs" src="/content/dam/audi/images/desktop/quattro.jpg">
                    <img class="mobile hidden-md hidden-sm hidden-lg" src="/content/dam/audi/images/mobile/quattro.jpg" srcset="/content/dam/audi/images/mobile/quattro.jpg 1x, /content/dam/audi/images/mobile/quattro@2x.jpg">
                </div>
            </div>

            <div class="jumbotron kampagnen">
                <div class="kampagnen-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 pull-right">
                                <div class="kampagnen-copy">
                                    <h1>Die Audi<br />Gebrauchtwagen<br />plus Wochen</h1>
                                    <h2>Attraktive Gebrauchte, Jahres- und Werkdienstwagen</h2>
                                    <button>Informieren</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kampagnen-image nonmobile hidden-xs">
                    <img src="/content/dam/audi/images/desktop/backgroundimages/gebrauchtwagen.jpg" />
                </div>
                <div class="kampagnen-image mobile hidden-lg hidden-md hidden-sm">
                    <img src="/content/dam/audi/images/mobile/gebrauchtwagen.png" srcset="/content/dam/audi/images/mobile/gebrauchtwagen.png 1x, /content/dam/audi/images/mobile/gebrauchtwagen@2x.png 2x" />
                </div>
            </div>

        <div class="container social-media">
            <div class="row">
            <div data-sly-resource="${ @path='Video Container', resourceType='foundation/components/parsys'}"></div>
                <div class="col-xs-12 col-md-6">
                    <div class="social-media-twitter">
                        <span class="date">12.02.2016</span>
                        <div class="social-media-twitter-copy">
                            <p>Manche Dinge sind <a href="#">#untaggable</a>. Wie der neue Audi Q2. Verpasse nichts und folge uns auf <a href="#">http://audi.de/Tw_q2_13</a></p>
                        </div>
                        <div class="twitter-abo">
                            <img src="/content/dam/audi/images/desktop/system-twitter-large.png" srcset="/content/dam/audi/images/desktop/system-twitter-large.png 1x, /content/dam/audi/images/desktop/system-twitter-large@2x.png 2x" />
                            <div class="twitter-abo-links">
                                <span class="twitter-abo-copy">Audi Deutschland</span>
                                <a href="#">Abonnieren</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="youtube-content-wrap"></div>
    </section>