<nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">
                            <img class="logo" src="img/rings.png">
                        </a>
                    </div>
                    <div id="navbar" class="">
                        <ul class="nav navbar-nav nav-mobile navbar-right hidden-sm hidden-md hidden-lg">
                            <li><a href="#" class="login" style="display: none;"><span class="sr-only">Login</span></a></li>
                            <li><a href="#" class="cars"><span class="sr-only">Fahrzeuge</span></a></li>
                            <li>
                                <a href="#" class="menu dropdown-toggle" id="mobile-drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Menü</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="mobile-drop3" style="height: 2280px;">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="close pull-right">
                                                    <span class="sr-only">Close</span>
                                                </div>
                                                <div class="subnav-title"><h2>Menü</h2></div>
                                                <div class="search-box-fake">Search</div>
                                                <ul class="mobile-main-navigation">
                                                    <li class="navi-item-cars">
                                                        <a href="#">Fahrzeuge</a>
                                                    </li>
                                                    <li class="navi-item-audi">
                                                        <a href="#">Audi</a>
                                                    </li>
                                                    <li class="navi-item-customer">
                                                        <a href="#">Kundenbereich</a>
                                                    </li>
                                                    <li class="navi-item-login">
                                                        <a href="#">Login</a>
                                                    </li>
                                                </ul>

                                                <!-- Modale Fenster für mobile subnavigationen -->
                                                <!-- popup-navi-item-cars -->
                                                <div class="mobile-subnavi-container popup-navi-item-cars closed">
                                                    <div class="col-xs-12">
                                                        <div class="back pull-left">
                                                            <span class="sr-only">Back</span>
                                                        </div>
                                                        <div class="close pull-right">
                                                            <span class="sr-only">Close</span>
                                                        </div>
                                                        <div class="subnav-title"><h2>Fahrzeuge</h2></div>
                                                        <div class="search-box-fake">Search</div>
                                                        <ul class="mobile-sub-navigation">
                                                            <li class="navi-item-all">
                                                                <a href="#">Alle Modelle</a>
                                                            </li>
                                                            <li class="navi-item-new">
                                                                <a href="#">Neuwagen</a>
                                                            </li>
                                                            <li class="navi-item-old">
                                                                <a href="#">Gebrauchtwagen</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <!-- popup-navi-item-all-->
                                                <div class="mobile-subnavi-container popup-navi-item-all closed">
                                                    <div class="col-xs-12">
                                                        <div class="back pull-left">
                                                            <span class="sr-only">Back</span>
                                                        </div>
                                                        <div class="close pull-right">
                                                            <span class="sr-only">Close</span>
                                                        </div>
                                                        <div class="subnav-title"><h2>Alle Modelle</h2></div>
                                                        <div class="search-box-fake">Search</div>

                                                        <ul class="mobile-sub-navigation car-model-list">
                                                            <li>
                                                                <a href="#" class="" data-car="A1">
                                                                    <span class="pull-left">A1</span>
                                                                    <img class="no pull-right" width="120px" src="img/Modellreihen/no/a1.png">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="" data-car="A3">
                                                                    <span>A3</span>
                                                                    <img class="no pull-right" width="120px" src="img/Modellreihen/no/a3.png">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="" data-car="A4">
                                                                    <span>A4</span>
                                                                    <img class="no pull-right" width="120px" src="img/Modellreihen/no/a4limo.png">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="" data-car="A5">
                                                                    <span>A5</span>
                                                                    <img class="no pull-right" width="120px" src="img/Modellreihen/no/a5sb.png">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="" data-car="A6">
                                                                    <span>A6</span>
                                                                    <img class="no pull-right" width="120px" src="img/Modellreihen/no/a6limo.png">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="" data-car="A7">
                                                                    <span>A7</span>
                                                                    <img class="no pull-right" width="120px" src="img/Modellreihen/no/a7sb.png">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="" data-car="A8">
                                                                    <span>A8</span>
                                                                    <img class="no pull-right" width="120px" src="img/Modellreihen/no/a8l.png">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="" data-car="Q2">
                                                                    <span>Q2</span>
                                                                    <img class="no pull-right" width="120px" src="img/Modellreihen/no/q2.png">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="" data-car="Q3">
                                                                    <span>Q3</span>
                                                                    <img class="no pull-right" width="120px" src="img/Modellreihen/no/q3.png">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="" data-car="Q5">
                                                                    <span>Q5</span>
                                                                    <img class="no pull-right" width="120px" src="img/Modellreihen/no/q5.png">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="" data-car="Q7">
                                                                    <span>Q7</span>
                                                                    <img class="no pull-right" width="120px" src="img/Modellreihen/no/q7.png">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="" data-car="TT">
                                                                    <span>TT</span>
                                                                    <img class="no pull-right" width="120px" src="img/Modellreihen/no/ttroadster.png">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="" data-car="R8">
                                                                    <span>R8</span>
                                                                    <img class="no pull-right" width="120px" src="img/Modellreihen/no/r8coupe.png">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="" data-car="RS">
                                                                    <span>RS</span>
                                                                    <img class="no pull-right" width="120px" src="img/Modellreihen/no/rs6avantper.png">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="" data-car="etron">
                                                                    <span>e-tron</span>
                                                                    <img class="no pull-right" width="120px" src="img/Modellreihen/no/a3sbetron.png">
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <!-- popup-navi-item-model-->
                                                <div class="mobile-subnavi-container popup-navi-item-model closed">
                                                    <div class="col-xs-12">
                                                        <div class="back pull-left">
                                                            <span class="sr-only">Back</span>
                                                        </div>
                                                        <div class="close pull-right">
                                                            <span class="sr-only">Close</span>
                                                        </div>
                                                        <div class="subnav-title"><h2>A1</h2></div>
                                                        <div class="search-box-fake">Search</div>
                                                        <div class="">
                                                            <div class="owl-carousel">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <!-- popup-navi-item-customer -->
                                                <div class="mobile-subnavi-container popup-navi-item-customer closed">
                                                    <div class="col-xs-12">
                                                        <div class="back pull-left">
                                                            <span class="sr-only">Back</span>
                                                        </div>
                                                        <div class="close pull-right">
                                                            <span class="sr-only">Close</span>
                                                        </div>
                                                        <div class="subnav-title"><h2>Kundenbereich</h2></div>
                                                        <ul class="mobile-sub-navigation">
                                                            <li class="navi-item-all">
                                                                <a href="#">Audi Original Teile</a>
                                                            </li>
                                                            <li class="navi-item-new">
                                                                <a href="audiservice.html">Audi Service</a>
                                                            </li>
                                                            <li class="navi-item-old">
                                                                <a href="#">Audi ServiceKomfort</a>
                                                            </li>
                                                            <li class="navi-item-old">
                                                                <a href="#">Komplettpreisangebote</a>
                                                            </li>
                                                            <li class="navi-item-old">
                                                                <a href="#">Altfahrzeugrücknahme</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <ul class="hidden-xs nav navbar-nav navbar-right">
                            <li><a href="#"><img src="img/search-small.png" srcset="img/search-small.png 1x, img/search-small@2x.png 2x"></a></li>
                            <li class="navi-item-cars">
                                <a href="#" class="dropdown-toggle" id="drop1" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Fahrzeuge</a>
                                <div class="dropdown-menu" aria-labelledby="drop1">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul class="nav navbar-nav subnav">
                                                    <li><a href="#" class="carNaviLinkOverlay" data-car="A1">A1</a></li>
                                                    <li><a href="#" class="carNaviLinkOverlay" data-car="A3">A3</a></li>
                                                    <li><a href="#" class="carNaviLinkOverlay" data-car="A4">A4</a></li>
                                                    <li><a href="#" class="carNaviLinkOverlay" data-car="A5">A5</a></li>
                                                    <li><a href="#" class="carNaviLinkOverlay" data-car="A6">A6</a></li>
                                                    <li><a href="#" class="carNaviLinkOverlay" data-car="A7">A7</a></li>
                                                    <li><a href="#" class="carNaviLinkOverlay" data-car="A8">A8</a></li>
                                                    <li><a href="#" class="carNaviLinkOverlay" data-car="Q2">Q2</a></li>
                                                    <li><a href="#" class="carNaviLinkOverlay" data-car="Q3">Q3</a></li>
                                                    <li><a href="#" class="carNaviLinkOverlay" data-car="Q5">Q5</a></li>
                                                    <li><a href="#" class="carNaviLinkOverlay" data-car="Q7">Q7</a></li>
                                                    <li><a href="#" class="carNaviLinkOverlay" data-car="TT">TT</a></li>
                                                    <li><a href="#" class="carNaviLinkOverlay" data-car="R8">R8</a></li>
                                                    <li><a href="#" class="carNaviLinkOverlay" data-car="RS">RS</a></li>
                                                    <li><a href="#" class="carNaviLinkOverlay" data-car="etron">e-tron</a></li>
                                                    <li><a href="#" class="has-divider">Neu &amp; Gebrauchtwagen</a></li>
                                                    <li><a href="#" class="has-divider">Mobilität</a></li>
                                                    <li><a href="#" class="has-divider">Zubehör</a></li>
                                                </ul>
                                                <div class="close pull-right">
                                                    <img src="img/close.png" alt="close-link">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row alternate-gutter" id="carInfos">

                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="navi-item-audi">
                                <a href="#" class="dropdown-toggle" id="drop2" data-toggle="" role="button" aria-haspopup="true" aria-expanded="true">Audi</a>
                            </li>
                            <li class="navi-item-customer has-right-border">
                                <a href="#" class="dropdown-toggle" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Kundenbereich</a>
                                <div class="dropdown-menu" aria-labelledby="drop3">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul class="nav navbar-nav subnav">
                                                    <li><a class="active" href="#">Reparatur und Service</a></li>
                                                    <li><a class="has-divider" href="#">Geschäftskunden</a></li>
                                                    <li><a class="has-divider" href="#">Support</a></li>
                                                </ul>
                                                <div class="close pull-right">
                                                    <img src="img/close.png" alt="close-link">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row alternate-gutter">
                                            <div class="col-lg-6">
                                                <div class="tile-container overlay hover-effect">
                                                    <div class="tile-visual">
                                                        <img src="img/menu/teaser-teile.jpg" srcset="img/menu/teaser-teile.jpg 1x, img/menu/teaser-teile@2x.jpg 2x">
                                                    </div>
                                                    <div class="tile-content">
                                                        <h2>Audi Original Teile</h2>
                                                        <div class="tile-info-one">
                                                            <span class="tile-value">Damit Ihr Audi ein Original bleibt: Audi Original Teile</span>
                                                        </div>

                                                        <ul class="tile-links">
                                                            <li><a href="#" class="arrow-link white">Mehr erfahren</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="tile-container overlay hover-effect">
                                                    <div class="tile-visual">
                                                        <img src="img/menu/teaser-service.jpg" srcset="img/menu/teaser-service.jpg 1x, img/menu/teaser-service@2x.jpg 2x">
                                                    </div>
                                                    <div class="tile-content">
                                                        <h2>Audi Service</h2>
                                                        <div class="tile-info-one">
                                                            <span class="tile-value">Der Audi Service bietet Ihnen Leistungen, die speziell auf Sie und Ihren Audi abgestimmt sind.</span>
                                                        </div>
                                                        <ul class="tile-links">
                                                            <li><a href="audiservice.html" class="arrow-link white">Mehr erfahren</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="tile-container overlay hover-effect">
                                                    <div class="tile-visual">
                                                        <img src="img/menu/teaser-komfort.jpg" srcset="img/menu/teaser-komfort.jpg 1x, img/menu/teaser-komfort@2x.jpg 2x">
                                                    </div>
                                                    <div class="tile-content">
                                                        <h3>Audi ServiceKomfort</h3>
                                                        <div class="tile-info-one">
                                                            <span class="tile-value">Profitieren  von attraktiven Service-Dienstleistungen.</span>
                                                        </div>
                                                        <ul class="tile-links">
                                                            <li><a href="#" class="arrow-link white">Zum Bereich</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="tile-container overlay no-image hover-effect">

                                                    <div class="tile-content">
                                                        <h3>Komplettpreisangebote</h3>
                                                        <div class="tile-info-one">
                                                            <span class="tile-value">Für zahlreiche Services und Audi Original Teile bieten die teilnehmenden Audi Partner günstige Komplettpreise inklusive Einbau an.</span>
                                                        </div>
                                                        <ul class="tile-links">
                                                            <li><a href="#" class="arrow-link black">Zum Bereich</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="tile-container overlay no-image hover-effect">
                                                    <div class="tile-content">
                                                        <h3>Altfahrzeugrücknahme</h3>
                                                        <div class="tile-info-one">
                                                            <span class="tile-value">Bei der Rückgabe Ihres alten Audi helfen wir Ihnen gern. Die AUDI AG verfügt über ein flächendeckendes Rücknahmenetz für Altfahrzeuge in Deutschland.</span>
                                                        </div>
                                                        <ul class="tile-links">
                                                            <li><a href="#" class="arrow-link black">Zum Bereich</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="navi-items-login"><a href="#" class="login" style="display: none;">Login</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->

                </div><!--/.container-fluid -->
            </nav>