<sly
	data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	data-sly-call="${clientLib.js @ categories='docUpload'}"
	data-sly-unwrap />
<div class="header">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/content/audi/en.html">
                	<img class="logo" src="${properties.fileReference}">
                </a>
			</div>
			<div id="navbar" class="">
				<ul class="hidden-xs nav navbar-nav navbar-right">
					<li><a href="#"><img
							src="/content/dam/audi/images/desktop/search-small.png"
							srcset="/content/dam/audi/images/desktop/search-small.png 1x, /content/dam/audi/images/desktop/search-small@2x.png 2x"></a>
					</li>
					<div data-sly-use.convertToJSON="${'convertToJSON.js' @ nodeName=properties.linkMap}" data-sly-unwrap>
						<div data-sly-list="${convertToJSON.proposerObjs}" data-sly-unwrap>
							<li class="navi-item-audi ${itemList.last?'has-right-border':'abc'}">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">${item.link}</a>
								<div data-sly-include="/apps/audi/components/content/header/popupmenu.html" data-sly-unwrap></div>
							</li>
						</div>
					</div>
					<li class="navi-items-login" id="loginLabel"><a class="login" href="#">${properties.login}</a></li>
					<li class="navi-items-login" style="display:none" id="userLabel"><a class="login" href="#"></a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>