							<div class="dropdown-menu" aria-labelledby="drop1">
				 				<div class="container">
   									<div class="row">
     									<div class="col-lg-12">
                                           <ul class="nav navbar-nav subnav">
                                             <li><a href="#" class="carNaviLinkOverlay active" data-car="A1">A1</a></li>
                                             <li><a href="#" class="carNaviLinkOverlay" data-car="A3">A3</a></li>
                                             <li><a href="#" class="carNaviLinkOverlay" data-car="A4">A4</a></li>
                                             <li><a href="#" class="carNaviLinkOverlay" data-car="A5">A5</a></li>
                                             <li><a href="#" class="carNaviLinkOverlay" data-car="A6">A6</a></li>
                                             <li><a href="#" class="carNaviLinkOverlay" data-car="A7">A7</a></li>
                                             <li><a href="#" class="carNaviLinkOverlay" data-car="A8">A8</a></li>
                                             <li><a href="#" class="carNaviLinkOverlay" data-car="Q2">Q2</a></li>
                                             <li><a href="#" class="carNaviLinkOverlay" data-car="Q3">Q3</a></li>
                                             <li><a href="#" class="carNaviLinkOverlay" data-car="Q5">Q5</a></li>
                                             <li><a href="#" class="carNaviLinkOverlay" data-car="Q7">Q7</a></li>
                                             <li><a href="#" class="carNaviLinkOverlay" data-car="TT">TT</a></li>
                                             <li><a href="#" class="carNaviLinkOverlay" data-car="R8">R8</a></li>
                                             <li><a href="#" class="carNaviLinkOverlay" data-car="RS">RS</a></li>
                                             <li><a href="#" class="carNaviLinkOverlay" data-car="etron">e-tron</a></li>
                                             <li><a href="#" class="has-divider">Neu &amp; Gebrauchtwagen</a></li>
                                             <li><a href="#" class="has-divider">Mobilität</a></li>
                                             <li><a href="#" class="has-divider">Zubehör</a></li>
                                           </ul>
                                           <div class="close pull-right">
                                             <img src="/content/dam/audi/images/desktop/close.png" alt="close-link">
                                           </div>
                                       </div>
                                   </div>


										  <div class="col-lg-6">
                                             <div class="tile-container">
                                              <div class="tile-visual">
                                                <img src="/content/dam/audi/images/desktop/backgroundimages/A1.jpg">
                                              </div>
                                              <div class="tile-content"><h2>A1</h2>
                                                <div class="tile-price">
                                                  <span class="tile-label">Preis: ab </span>
                                                  <span class="tile-value">EUR 15.950,00</span>
                                                </div>
                                                <div class="tile-info-one">
                                                  <span class="tile-label">Kraftstoffverbrauch kombiniert:</span>
                                                  <span class="tile-value">5,8-3,6 l/100km</span></div><div class="tile-info-two">
                                                  <span class="tile-label">CO2-Emissionen kombiniert:</span><span class="tile-value">134-94g/km</span>
                                                </div>
                                                <ul class="tile-links">
                                                 <li><a class="arrow-link black modellform" rel="A1" href="#">Informieren</a></li>
                                                 <li><a class="arrow-link black modellform" rel="A1" href="#">Konfigurieren</a></li>
                                                </ul>
                                               </div>
                                             </div>
                                           </div>

                                          <div class="col-lg-6">
                                            <div class="tile-container">
                                               <div class="tile-visual">
                                                 <img src="/content/dam/audi/images/desktop/backgroundimages/A1_sportback.jpg">
                                               </div>
                                              <div class="tile-content"><h2>A1 Sportback</h2>
                                               <div class="tile-price">
                                                 <span class="tile-label">Preis: ab </span><span class="tile-value">EUR 16.800,00</span>
                                               </div>
                                               <div class="tile-info-one">
                                                 <span class="tile-label">Kraftstoffverbrauch kombiniert:</span>
                                                 <span class="tile-value">5,8-3,6 l/100km</span>
                                               </div>
                                               <div class="tile-info-two">
                                                 <span class="tile-label">CO2-Emissionen kombiniert:</span>
                                                 <span class="tile-value">134-94g/km</span>
                                               </div>
                                               <ul class="tile-links">
                                                  <li><a class="arrow-link black modellform" rel="A1 Sportback" href="#">Informieren</a></li>
                                                  <li><a class="arrow-link black modellform" rel="A1 Sportback" href="#">Konfigurieren</a></li>
                                               </ul>
                                              </div>
                                           </div>
                                          </div>

                                          <div class="col-lg-6">
                                            <div class="tile-container">
                                              <div class="tile-visual">
                                                <img src="/content/dam/audi/images/desktop/backgroundimages/S1.jpg">
                                              </div>
                                              <div class="tile-content"><h2>S1</h2>
                                               <div class="tile-price">
                                                <span class="tile-label">Preis: ab </span>
                                                <span class="tile-value">EUR 30.150,00</span>
                                               </div>
                                               <div class="tile-info-one">
                                                <span class="tile-label">Kraftstoffverbrauch kombiniert:</span>
                                                <span class="tile-value">5,8-3,6 l/100km</span>
                                               </div>
                                               <div class="tile-info-two">
                                                <span class="tile-label">CO2-Emissionen kombiniert:</span>
                                                <span class="tile-value">134-94g/km</span>
                                               </div>
                                               <ul class="tile-links">
                                                <li><a class="arrow-link black modellform" rel="S1" href="#">Informieren</a></li>
                                                <li><a class="arrow-link black modellform" rel="S1" href="#">Konfigurieren</a></li>
                                               </ul>
                                              </div>
                                           </div>
                                         </div>

                                         <div class="col-lg-6">
                                           <div class="tile-container">
                                            <div class="tile-visual">
                                             <img src="/content/dam/audi/images/desktop/backgroundimages/S1_sportback.jpg">
                                            </div>
                                            <div class="tile-content"><h2>S1 Sportback</h2>
                                             <div class="tile-price"><span class="tile-label">Preis: ab </span>
                                              <span class="tile-value">EUR 31.000,00</span>
                                             </div>
                                             <div class="tile-info-one">
                                              <span class="tile-label">Kraftstoffverbrauch kombiniert:</span>
                                              <span class="tile-value">5,8-3,6 l/100km</span>
                                             </div>
                                             <div class="tile-info-two">
                                              <span class="tile-label">CO2-Emissionen kombiniert:</span>
                                              <span class="tile-value">134-94g/km</span>
                                             </div>
                                             <ul class="tile-links">
                                              <li><a class="arrow-link black modellform" rel="S1 Sportback" href="#">Informieren</a></li>
                                              <li><a class="arrow-link black modellform" rel="S1 Sportback" href="#">Konfigurieren</a></li>
                                             </ul>
                                            </div>
                                          </div>
                                        </div>


									    

                                    </div>
                                </div>
