<div class="col-xs-12 col-md-6">
	<div class="social-media-youtube">
		<iframe width="555" height="315" src="${properties.videoURL}?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0""></iframe>
		<div class="social-media-youtube-copy">
			<span class="date-views">12.02.2016 | 1.508.157 views</span>
			<h2>Audi TV-Sport „Q“</h2>
			<div class="youtube-abo">
				<img src="/content/dam/audi/images/desktop/system-youtube-large.png"
					srcset="/content/dam/audi/images/desktop/system-youtube-large.png 1x, img/system-youtube-large@2x.png 2x">
				<div class="youtube-abo-links">
					<span class="youtube-abo-copy">Audi Deutschland</span> <a href="#">Abonnieren</a>
				</div>
			</div>
		</div>
	</div>
</div>