<div class="jumbotron brand-teaser" style="display:block">
                <div class="brand-teaser-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="brand-teaser-copy">
                                    <h1>Selten ein Weg zu weit</h1>
                                    <h2>Die Technik des A4 allroad quattro</h2>
                                    <p>Der neue A4 allroad quattro steht für exklusiven Offroad-Charakter. Er vereint extrovertiertes Design mit maximaler Funktionalität und genießt damit eine Alleinstellung in seinem Segment. Die kraftvoll ausgestellten Radläufe und die erhöhte Bodenfreiheit machen den A4 allroad quattro zu einem perfekten Begleiter für leichtes Gelände. Das Fahrerlebnis wird durch den namensgebenden Allradantrieb quattro ermöglicht: Mehr Dynamik, mehr Traktion und ein gutes Gefühl auf nahezu jeder Strecke.</p>
                                    <button>Informieren</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="brand-teaser-image">
                    <img class="nonmobile hidden-xs" src="/content/dam/audi/images/desktop/quattro.jpg">
                    <img class="mobile hidden-md hidden-sm hidden-lg" src="/content/dam/audi/images/mobile/quattro.jpg" srcset="/content/dam/audi/images/mobile/quattro.jpg 1x, /content/dam/audi/images/mobile/quattro@2x.jpg">
                </div>
            </div>