<link rel="stylesheet" type="text/css" href="/etc/designs/audi/clientlib-configurator/nemo.min1.css">
<link rel="stylesheet" type="text/css" href="/etc/designs/audi/clientlib-configurator/nemo.min2.css">
<script src="/etc/designs/audi/clientlib-configurator/setups.js"></script>



<!--<![endif]-->

	<link rel="stylesheet" type="text/css" href="/etc/designs/audi/clientlib-configurator/icons.nemo_market_icons.css">


      <div class="container">
        <div class="row">
            <div style="display:none;" id="config-section" data-sly-include="/apps/audi/components/content/personalized_home/configurator.html" data-div-unwrap/></div>
			<div class="nm-module nm-md-preconfig-teaser" style="display:none;" id="jumbo-section"> 
<div class="col-xs-12 col-md-4" style="padding-left: 2px;width: 50%;">

            <h2 style="" class="nm-el-hdl nm-el-hdl-02 nm-at-hdl-b">Sie heben noch keine konfigurationen angelegt</h2>
            <p>Mit dem Audi Car Konfigurator können Sie neuen Designs ausprobieren und sich Ihren Traum Audi zusammenstellen.</p>
            <a class="nm-homepage-teaser-content" href="" style="">
                    <div class="nm-homepage-teaser-shadow">
                    <h2 class="nm-el-lk nm-el-lk-07 " id="config_select_link">Konfiguration Starten</h2>
                </div>
            </a>
</div>

<div class="col-xs-12 col-md-8" style="padding-left: 2px;width: 50%;">
		<div class="haendlerkarte">
			<img class="nonmobile hidden-xs" src="/content/dam/audi/images/configurator/Konfiguraitons Fallback 2016.jpg" style="width:100%">
		</div>
	</div>




            </div>
            <div class="nm-module nm-md-preconfig-teaser" data-module="preconfiguration-teaser" style="clear:both;" id="intro-section">
                <h2 class="nm-el-hdl nm-el-hdl-02 nm-at-hdl-b">Unsere Konfigurationsvorschläge:</h2>
                <div class="nm-preconfig-teaser-peephole nm-md-preconfig-teaser-custom-configuration">
                    <div class="nm-md-preconfig-teaser-slide clearfix">
            
                                        <div class="nm-el-image">
                                            <div class="nm-el-inner-img" style="background-image: url(https://mediaservice.audi.com/media/live/50000/qw2/4gc0ic-0/2016/14+q0q0/aaue0a/aer0p0/bav1la/bbo6fa/eph7x0/gra8t1/hes5j0/hsw8ih/kark8b/ksuka0/lia8g0/radcg9/sfs2k1/spu7y0/sshvw5/szu0na/tkv4i2/zie4zb/$y1r.jpg?alt=//www.audi.de/bin/nemo.static/cms4i-nemo/fallback-renderings/a-stage-exterior.jpg)"></div>
                                        </div>
                        <div class="nm-el-text">
                            <strong class="nm-el-hdl nm-el-hdl-03 nm-at-hdl-b">Die individuelle A6 Limousine</strong>
                            <ul class="nm-otp-list">
                                                        <li class="nm-el-pg nm-el-pg-04">Individuallackierung in Sandbeige Perleffekt</li>			        			            <li class="nm-el-pg nm-el-pg-04">Audi exclusive Lederausstattung in Leder Valcona</li>			        			            <li class="nm-el-pg nm-el-pg-04">Multifunktions-Sportlederlenkrad im 3-Speichen-Design</li>			        			    </ul>
                            <a href="https://www.audi.de/de/brand/de/neuwagen/a6/a6-limousine.html#" class="nm-el-btn nm-el-btn-01 nm-el-btn-ast j-preconfig-submit" data-prstring="4GC0IC0|Q0Q0|FZ|PQ9|4A3|YZ1|S3G|6XG|N5D|1XW|6NA|YRB|YQN|7HC|3NZ|YUR|PS8|exclusive_exterior_Y1R" data-tracking-link="{&quot;eVar44&quot;:&quot;Pre-Config Start Config&quot;,&quot;prop44&quot;:&quot;Pre-Config Start Config&quot;,&quot;prop46&quot;:&quot;:Pre-Config Start Config:4GC0IC0|Q0Q0|FZ|PQ9|4A3|YZ1|S3G|6XG|N5D|1XW|6NA|YRB|YQN|7HC|3NZ|YUR|PS8|exclusive_exterior_Y1R&quot;,&quot;eVar39&quot;:&quot;Pre-Config Start Config&quot;,&quot;prop39&quot;:&quot;Pre-Config Start Config&quot;}">
                                <span class="nm-md-preconfig-teaser-default-config">Jetzt dieses Modell konfigurieren</span><span class="nm-md-preconfig-teaser-custom-config">Neue Konfiguration starten</span></a>
                        </div>
                    </div>
                </div>
                        <ul class="nm-preconfig-list">
                                    <li class="nm-preconfig-teaser-tpl">
                            <script type="text/template" id="j-preconfig-teaser-tpl-0">
                                <div class="nm-md-preconfig-teaser-slide clearfix">
                                    <div class="nm-el-image">
                                        <div class="nm-el-inner-img" style="background-image: url(https://mediaservice.audi.com/media/live/50000/qw2/4gc0ic-0/2016/14+q0q0/aaue0a/aer0p0/bav1la/bbo6fa/eph7x0/gra8t1/hes5j0/hsw8ih/kark8b/ksuka0/lia8g0/radcg9/sfs2k1/spu7y0/sshvw5/szu0na/tkv4i2/zie4zb/$y1r.jpg?alt=//www.audi.de/bin/nemo.static/cms4i-nemo/fallback-renderings/a-stage-exterior.jpg)"></div>
                                    </div>
                                    <div class="nm-el-text">
                                        <strong class="nm-el-hdl nm-el-hdl-03 nm-at-hdl-b">Die individuelle A6 Limousine</strong>
                                        <ul class="nm-otp-list">
                                                                                <li class="nm-el-pg nm-el-pg-04">Individuallackierung in Sandbeige Perleffekt</li>						        						            <li class="nm-el-pg nm-el-pg-04">Audi exclusive Lederausstattung in Leder Valcona</li>						        						            <li class="nm-el-pg nm-el-pg-04">Multifunktions-Sportlederlenkrad im 3-Speichen-Design</li>						        						    </ul>
                                        <a x-cq-linkchecker="skip" href="#" class="nm-el-btn nm-el-btn-01 nm-el-btn-ast j-preconfig-submit" data-prstring='4GC0IC0|Q0Q0|FZ|PQ9|4A3|YZ1|S3G|6XG|N5D|1XW|6NA|YRB|YQN|7HC|3NZ|YUR|PS8|exclusive_exterior_Y1R' 								 data-tracking-link="{&quot;eVar44&quot;:&quot;Pre-Config Start Config&quot;,&quot;prop44&quot;:&quot;Pre-Config Start Config&quot;,&quot;prop46&quot;:&quot;:Pre-Config Start Config:4GC0IC0|Q0Q0|FZ|PQ9|4A3|YZ1|S3G|6XG|N5D|1XW|6NA|YRB|YQN|7HC|3NZ|YUR|PS8|exclusive_exterior_Y1R&quot;,&quot;eVar39&quot;:&quot;Pre-Config Start Config&quot;,&quot;prop39&quot;:&quot;Pre-Config Start Config&quot;}">
                                            <span class="nm-md-preconfig-teaser-default-config">Jetzt dieses Modell konfigurieren</span><span class="nm-md-preconfig-teaser-custom-config">Neue Konfiguration starten</span></a>
                                    </div>
                                </div>
                            </script>
                        </li>
                                    <li class="nm-preconfig-teaser-tpl">
                            <script type="text/template" id="j-preconfig-teaser-tpl-1">
                                <div class="nm-md-preconfig-teaser-slide clearfix">
                                    <div class="nm-el-image">
                                        <div class="nm-el-inner-img" style="background-image: url(https://mediaservice.audi.com/media/live/50000/qw2/4gc0gy-0/2016/14+q0q0/aaue0a/aer0p0/bav1lp/bbo6fa/eph7x2/gra8t4/hes5j0/hsw8it/kark8b/ksuka2/lia8g4/radcu0/sfs2k7/spu7y5/sshvw5/szu0nb/tkv4i3/zie4zb/$fq330003.jpg?alt=//www.audi.de/bin/nemo.static/cms4i-nemo/fallback-renderings/a-stage-exterior.jpg)"></div>
                                    </div>
                                    <div class="nm-el-text">
                                        <strong class="nm-el-hdl nm-el-hdl-03 nm-at-hdl-b">Die elegante A6 Limousine</strong>
                                        <ul class="nm-otp-list">
                                                                                <li class="nm-el-pg nm-el-pg-04">Individuallackierung Audi exclusive Palaisblau Perleffekt</li>						        						            <li class="nm-el-pg nm-el-pg-04">Audi Matrix LED-Scheinwerfer </li>						        						            <li class="nm-el-pg nm-el-pg-04">Lederausstattung in Leder Valcona Audi exclusive</li>						        						    </ul>
                                        <a x-cq-linkchecker="skip" href="#" class="nm-el-btn nm-el-btn-01 nm-el-btn-ast j-preconfig-submit" data-prstring='4GC0DC0|Q0Q0|IZ|PXC|4A4|9AQ|3FE|QQ2|PGE|WDC|YJH|PQD|VC1|PAC|3NZ|QV3|6XF|PNP|QR9|PCB|9R1|1BK|2Z0|PS8|N5D|6RB|4D8|7HE|YQN|S3G|YRB|8RY|9ZC|KA2|YTO' 								 data-tracking-link="{&quot;eVar44&quot;:&quot;Pre-Config Start Config&quot;,&quot;prop44&quot;:&quot;Pre-Config Start Config&quot;,&quot;prop46&quot;:&quot;:Pre-Config Start Config:4GC0DC0|Q0Q0|IZ|PXC|4A4|9AQ|3FE|QQ2|PGE|WDC|YJH|PQD|VC1|PAC|3NZ|QV3|6XF|PNP|QR9|PCB|9R1|1BK|2Z0|PS8|N5D|6RB|4D8|7HE|YQN|S3G|YRB|8RY|9ZC|KA2|YTO&quot;,&quot;eVar39&quot;:&quot;Pre-Config Start Config&quot;,&quot;prop39&quot;:&quot;Pre-Config Start Config&quot;}">
                                            <span class="nm-md-preconfig-teaser-default-config">Jetzt dieses Modell konfigurieren</span><span class="nm-md-preconfig-teaser-custom-config">Neue Konfiguration starten</span></a>
                                    </div>
                                </div>
                            </script>
                        </li>
                                </ul>
                    <div class="nm-preconfig-teaser-thumbs-wrap">
                        <ul class="nm-preconfig-teaser-thumbs clearfix">
                                                <li class="nm-preconfig-teaser-thumbnail nm-selected" data-tracking-link="{&quot;eVar44&quot;:&quot;Pre-Config Switch&quot;,&quot;prop44&quot;:&quot;Pre-Config Switch&quot;,&quot;prop46&quot;:&quot;:Pre-Config Switch:Thumbnail&quot;,&quot;eVar39&quot;:&quot;Pre-Config Switch&quot;,&quot;prop39&quot;:&quot;Pre-Config Switch&quot;}">
                                    <div class="nm-preconfig-thumb"><img src="/content/dam/audi/images/configurator/$y1r.jpg" alt="a-stage-exterior.jpg"></div>
                                    <span class="nm-el-lbl nm-el-lbl-01 nm-at-lbl-b nm-tab-title">Individuell</span>
                                </li>
                                                <li class="nm-preconfig-teaser-thumbnail " data-tracking-link="{&quot;eVar44&quot;:&quot;Pre-Config Switch&quot;,&quot;prop44&quot;:&quot;Pre-Config Switch&quot;,&quot;prop46&quot;:&quot;:Pre-Config Switch:Thumbnail&quot;,&quot;eVar39&quot;:&quot;Pre-Config Switch&quot;,&quot;prop39&quot;:&quot;Pre-Config Switch&quot;}">
                                    <div class="nm-preconfig-thumb"><img src="/content/dam/audi/images/configurator/$fq330003.jpg" alt="a-stage-exterior.jpg"></div>
                                    <span class="nm-el-lbl nm-el-lbl-01 nm-at-lbl-b nm-tab-title">Elegant</span>
                                </li>
                                        </ul>
                    </div>


                    </div>

                    </div>
	</div>

</div>

<div id="zentrum_handburg" class="container content" style="display:none;">

<div  style=""><div class="hidden-xs haendlertool  row no-gutter start mb5" style="background:none !important;">
	<div class="col-xs-12 col-md-4" style="background:#333;height: 453px;width:40%">
		<div class="haendlerbox">
            <h3>Mein Handler</h3>
			<h2>Audi Zentrum Handburg</h2>
			<div class="">

			</div>
            <div id="mapErrorMessage">

            <p>Kollaustraße 41-63</p>
            <p>22529 Hamburg</p>
            <p>Deutschland</p>
            <p>+49 (0)40 548000</p><br><br>

            <p>Öffnungszeiten:</p>
            <p>Heute geöffnet: 07:00–19:00</p>

			<div class="row hidden-xs startCarChoose">
                            <div class="col-xs-12">
                                <button class="btn-mehr-erfahren">Termin vereinbaren</button>
                            </div>
                        </div>

            </div>
            <div><a href="">Wegbeschreibung</a></div>

		</div>
	</div>
	<div class="col-xs-12 col-md-8" style="padding-left: 2px;width: 60%;">
		<div class="haendlerkarte">
			<img class="nonmobile hidden-xs" src="/content/dam/audi/images/configurator/Audi Zentrum Hamburg-Kollaustra Hamburg.jpg" style="width:100%">
		</div>
	</div>
</div>


</div>
</div>


<div id="footer_image" style="display:none;" class="nm-wrapper stageArea">
    <div class="" style="background:url(/content/dam/audi/images/configurator/audi_poa_responsive_1920_20150416_062219201751.jpg);height: 925px;">


		<div style="width: 25%;margin-left: 100px;float:left" data-sly-include="/apps/audi/components/content/personalized_home/chat.html" data-div-unwrap/></div>
        <div id="text">
    	<div id="headline"><font class="words">&nbsp;Willkommen bei der Audi Online Beratung.&nbsp;</font>

    	</div>
    	<div class="textline"><font class="words">&nbsp;Wir verbinden Sie jetzt mit einem Mitarbeiter.&nbsp;</font>

    	</div>
    	<div class="textline"><font class="words">&nbsp;Haben Sie keine Bedenken, wir können Sie nicht sehen.&nbsp;</font>

    	</div>
    	<div class="textline"><font class="words">&nbsp;Bitte lassen Sie das Fenster geöffnet.&nbsp;</font>

    	</div>
    </div>

    </div>

</div>

<style type="text/css">
    		#intro-section{ height:625px;}
    		#zentrum_handburg{margin-bottom:30px;}
            #zentrum_handburg h3{margin:0px}
            #zentrum_handburg p{

                padding: 2px 1px;
                color: white;
            }
            .nm-homepage-md-configurator-teaser p{
				font-family: Verdana,sans-serif;
                font-size: 1.2rem;
                line-height: 2.2rem;
                color: #6d7579;
                padding: 2px 1px;

            }
             #zentrum_handburg button {
                margin-top: 30px;
   				margin-left: 15px;
				margin-bottom: 20px;
                padding: 0 25px;
                font-family: AudiTypeExtendedNormal;
                font-size: 14px;
                color: #fff;
                line-height: 48px;
                border: 1px solid #fff;
                border-radius: 0;
                background-color: transparent;
            }
            #jumbo-section p {z
                font-family: AudiTypeDisplayNormal;
                font-size: 13px;
                line-height: 30px;
                margin: 30px 0;
            }

			#text {
				padding-top:116px; 
				margin-left:60%;
			}

			#headline {
				margin-bottom: 5px;
				font-weight: bold; 
				font-size:20px; 
				text-decoration:none;

			}

			.textline {
				margin-bottom: 1px;
				font-size:16px; 
				text-decoration:none;

			}

			.words {
				background-color: #ffffff;
				color:#222222; 
				font-family:Verdana,Arial,Geneva,sans-serif; 
			}

@media screen and (max-width: 480px) and (orientation: portrait) {

			#text {
				display: none; 
			}

			#headline {
				display: none; 
			}

			.textline {
				display: none; 
			}

			.words {
				display: none; 
			}
}			
			
@media screen and (max-device-width: 480px) and (orientation: portrait) {

			#text {
				display: none; 
			}

			#headline {
				display: none; 
			}

			.textline {
				display: none; 
			}

			.words {
				display: none; 
			}
}

@media screen and (max-device-width: 667px) {

			#text {
				display: none; 
			}

			#headline {
				display: none; 
			}

			.textline {
				display: none; 
			}

			.words {
				display: none; 
			}
}
.stageArea.jumbotron{ margin-top:0px !important}
.notification-container img{width:100px;}
.nm-module {
    margin: 0 0 70px;
}
.dealerlocator h2{ color:white}
.social-media{margin-top:0px;}
.nm-homepage-md-configurator-teaser{}
        </style>
<style>
#zentrum_handburg .haendlerbox h2,#zentrum_handburg .haendlerbox h3{
color:white;
}
.stageArea .stageArea-copy h2{color:white;}
.stageArea h3 {
    font-family: AudiTypeExtendedBold;
    font-size: 22px;
    line-height: 60px;
    color: white;
}
.nm-homepage-md-configurator-teaser{ }
.slider-container .config-select li{margin:0 150px !important;}
.kontakthilfe-login .login h2{color:white}
</style>




<!--------------------->


<div class="container  nm-homepage-md-configurator-teaser" data-module="configurator-teaser" style="display:none">



	<div class="nm-homepage-md-configurator-teaser-box nm-homepage-md-configurator-teaser-image" style="">

            <h2 style="" class="nm-el-hdl nm-el-hdl-02 nm-at-hdl-b">Sie heben noch keine konfigurationen angelegt</h2>
            <p>Mit dem Audi Car Konfigurator können Sie neuen Designs ausprobieren und sich Ihren Traum Audi zusammenstellen.</p>
            <a class="nm-homepage-teaser-content" href="/content/audi/en/car-configurator.html?wcmmode=disabled" style="">
                    <div class="nm-homepage-teaser-shadow">
                    <h2 class="nm-el-lk nm-el-lk-07 ">Konfiguration Starten</h2>
                </div>
            </a>
	</div>
	<div class="nm-homepage-md-configurator-teaser-box nm-homepage-md-configurator-teaser-image">
		<a href="https://www.audi.de/de/brand/de.html#" class="nm-homepage-md-configurator-teaser-image-clickable nm-j-enter-configurator-click">
			<div class="nm-homepage-md-configurator-teaser-image-wrap nm-fade-in">
				<img alt="Q5" src="/content/dam/audi/images/configurator/zie4ze.png">
			</div>
		</a>
		<div class="loading-indicator nm-hidden"></div>
	</div>

	
		<div class="nm-homepage-md-configurator-teaser-box nm-homepage-md-configurator-teaser-vtp">
		<strong class="nm-el-hdl nm-el-hdl-04 nm-at-hdl-b">Direkt verfügbare Q5 </strong>
		<div class="nm-homepage-md-configurator-teaser-vtp-cols clearfix" data-default="{&quot;vtpNewBaseUrl&quot;: &quot;http://www.audi-boerse.de/neuwagen/url-2_1-search.htm&quot;, &quot;vtpUsedBaseUrl&quot;: &quot;http://www.audi-boerse.de/gebrauchtwagen/url-2_1-search.htm&quot;}">
			<div class="nm-homepage-md-configurator-teaser-vtp-new-cars">
<a class="stat nm-el-hdl nm-el-hdl-02 nm-at-hdl-b nm-fade-in" href="http://www.audi-boerse.de/neuwagen/i/s%7C10,AAAR/l%7C10,1,STAT_GWPLUS,U/controller.htm" data-tracking-link="{&quot;prop39&quot;:&quot;homepage_teaser:new_cars&quot;, &quot;prop46&quot;:&quot;:Click Configurator Teaser:homepage teaser - new cars&quot;}">1433</a>
				<a class="nm-el-lk nm-el-lk-01 nm-at-lk-b nm-el-lk-ast" href="http://www.audi-boerse.de/neuwagen/i/s%7C10,AAAR/l%7C10,1,STAT_GWPLUS,U/controller.htm" data-tracking-link="{&quot;prop39&quot;:&quot;homepage_teaser:new_cars&quot;, &quot;prop46&quot;:&quot;:Click Configurator Teaser:homepage teaser - new cars&quot;}">Neuwagen</a>

                </div>
				<div class="nm-homepage-md-configurator-teaser-vtp-used-cars">
				<a class="stat nm-el-hdl nm-el-hdl-02 nm-at-hdl-b nm-fade-in" href="http://www.audi-boerse.de/gebrauchtwagen/i/s%7C10,AAAR/l%7C10,1,STAT_GWPLUS,U/controller.htm" data-tracking-link="{&quot;prop39&quot;:&quot;homepage_teaser:used_cars&quot;, &quot;prop46&quot;:&quot;:Click Configurator Teaser:homepage teaser - used cars&quot;}">2093</a>
				<a class="nm-el-lk nm-el-lk-01 nm-at-lk-b nm-el-lk-ast" href="http://www.audi-boerse.de/gebrauchtwagen/i/s%7C10,AAAR/l%7C10,1,STAT_GWPLUS,U/controller.htm" data-tracking-link="{&quot;prop39&quot;:&quot;homepage_teaser:used_cars&quot;, &quot;prop46&quot;:&quot;:Click Configurator Teaser:homepage teaser - used cars&quot;}">Gebrauchtwagen</a>
			</div>
					</div>
				<div class="nm-homepage-md-configurator-teaser-box-efficiency">
			<p class="fuel_consumption txt-lst nm-el-pg nm-el-pg-03 nm-at-pg-variant">
				Kraftstoffverbrauch kombiniert: 7,2–4,5 l/100km
			</p>
			<p class="co2_emissions txt-lst nm-el-pg nm-el-pg-03 nm-at-pg-variant">
				CO2-Emissionen kombiniert: 164–117 g/km
			</p>
		</div>
			</div>
	

</div>
<!--  end of configurator-teaser -->

    <div class="container"  id="owner_accesories" style="margin-bottom:70px;margin-top:60px;display:none">
        <div class="">
            <h1 class="nm-md-headline-wide nm-el-hdl nm-el-hdl-01 nm-at-hdl-b">Audi original Zubehör</h1>
            <p class="nm-module nm-md-textblock-large nm-el-pg nm-el-pg-01" data-module="textblock-large">
                Mit Audi Original Zubehör: Produkte, die unser Qualitätsversprechen jeden Tag aufs Neue einlösen. Entdecken Sie, welche maßgeschneiderten Ideen Audi Original Zubehör auch für Ihr Leben bereithält.</p>

        </div>
        <div class="row">
    	<div class="col-lg-4">

            <div class="nm-teaser-ed-copy">
                  <strong class="nm-el-hdl nm-el-hdl-04 nm-at-hdl-b">
                  <a class="nm-layerLink" href="#">Attraktive Winter-Angebote</a>
                  </strong>
                  <div class="nm-teaser-ed-img">
                  	<img src="/content/dam/audi/images/configurator/320x160_Winter_2016.jpg" alt="320x160_Winter_2016.jpg">
				  </div>
                      <p class="nm-el-pg nm-el-pg-02">Für Wintersportbegeisterte gilt: Mit den attraktiven Winter-Angeboten von Audi&nbsp;Service beginnt der Spaß schon auf der Fahrt in den Schnee.</p>
					<div class="nm-md-standard-teaser-btn" style="margin-top:33px;">
                      <a class="nm-winter nm-el-btn nm-el-btn-01 nm-el-btn-ast" href="#" >Jetzt informieren</a>

                       </div>
                    </div>
        </div>
        <div class="col-lg-4">

			<div class="nm-teaser-ed-copy">
                  <strong class="nm-el-hdl nm-el-hdl-04 nm-at-hdl-b">
                  <a class="nm-layerLink" href="#">Servicekontakt Audi Partner</a>
                  </strong>
                  <div class="nm-teaser-ed-img">
                  	<img src="/content/dam/audi/images/configurator/320x160_ASER_P_161002_rgb.jpg" alt="320x160_ASER_P_161002_rgb.jpg">
				  </div>
                      <p class="nm-el-pg nm-el-pg-02">Kontaktieren Sie Ihren Audi Partner, um Werkstatt­termine zu vereinbaren und individuelle Angebote zu den Themen Service und Audi Original Teile und Zubehör zu erhalten.</p>
						<div class="nm-md-standard-teaser-btn" style="margin-top:13px;">
            				<a class=" nm-el-btn nm-el-btn-01 nm-el-btn-ast" href="https://erleben-audi.de/aftersales" target="_blank" rel="nofollow">Serviceleistungen anfragen</a>
        				</div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="nm-teaser-ed-copy">
                  <strong class="nm-el-hdl nm-el-hdl-04 nm-at-hdl-b">
                  <a class="nm-layerLink" href="#">Der neue Audi Räderkonfigurator</a>
                  </strong>
                  <div class="nm-teaser-ed-img">
                  	<img src="/content/dam/audi/images/configurator/Raederkonfig.jpg" alt="Raederkonfig.jpg" height="160px">
				  </div>
                  <p class="nm-el-pg nm-el-pg-02">Konfigurieren Sie Ihr Wunschfahrzeug mit Ihrer Lieblingsfelge: Mit dem neuen Räderkonfigurator von Audi Original Zubehör finden.</p>
			      <div class="nm-md-standard-teaser-btn" style="margin-top:33px;">
            			<a class=" nm-el-btn nm-el-btn-01 nm-el-btn-ast" href="//microsites.audi.com/wheel-configurator/index.html?de=de" target="_blank" rel="nofollow">Jetzt entdecken</a>
        		   </div>
            </div>
        </div>
    </div>
</div>
<div class="container"  id="audi_original_reifen" style="margin-bottom:20px;display:none">

      <div class="row">
            <div class="col-lg-7">
                <h1 class="nm-md-headline-wide nm-el-hdl nm-el-hdl-01 nm-at-hdl-b" data-module="headline-wide">Audi Original Reifen</h1><p class="nm-module nm-md-textblock-large nm-el-pg nm-el-pg-01" data-module="textblock-large">
                    Es sind die Reifen, die Vorsprung durch Technik auf die Straße bringen. Und weil sie das komfortabel und sicher tun sollen, stehen diese bei Audi besonders auf dem Prüfstand. Das Ergebnis für Sie: Audi Original Reifen, die vom Start weg ein gutes Gefühl vermitteln. Warum das so ist, erfahren Sie hier. Darüber hinaus erhalten Sie viele wissenswerte Hintergrundinformationen und hilfreiche Tipps, die Sie noch entspannter unterwegs sein lassen.</p>
                <div class="nm-module nm-md-content-paragraph  clearfix" data-module="content-paragraph">
                <div class="nm-cp-wrap">
                    <strong class="nm-el-hdl nm-el-hdl-04 nm-at-hdl-b nm-cp-headline ">Qualität</strong>

                <div class="nm-cp-img">
                <img src="/content/dam/audi/images/configurator/256x144_AOZ_DIV_131037.jpg" alt="256x144_AOZ_DIV_131037.jpg">
                        </div>
                <span class="nm-el-pg nm-el-pg-03">
                    Mit Audi Original Reifen sind Sie hervorragend für die Herausforderungen der Straße gerüstet. Denn sie werden speziell für das jeweilige Audi Modell entwickelt und aus hochmodernen Materialien gefertigt. Die Messlatte liegt dabei deutlich oberhalb der gesetzlichen Vorschriften. Rollwiderstand, Fahrdynamik und Handling, Schnelllauf, Aquaplaning, Wintererprobung, Gleichförmigkeit – die Liste der Kriterien, in denen ein Audi Original Reifen in umfangreichen Tests überzeugen muss, ist lang. Erst nach rund 50 Tests darf er schließlich an einen Audi montiert werden.        
                </span>
            </div>
</div>
</div>
<div class="col-lg-4" style="margin-left:90px;">          
<div class="nm-module">
<div class="nm-module nm-md-standard-teaser nm-teaser nm-teaser-basic" data-module="standard-teaser">
    <strong class="nm-el-hdl nm-el-hdl-04 nm-at-hdl-b">
            <a class="" href="https://erleben-audi.de/aftersales" target="_blank">Audi Q5 Zubehörkatalog</a>
        </strong>
                            <a class=" nm-goto-video-link" href="https://erleben-audi.de/aftersales" target="_blank" rel="nofollow">
                                <img src="/content/dam/audi/images/configurator/Q5_zubehoerkatalog.jpg" alt="Q5_zubehoerkatalog.jpg" style="width:300px">

                                    </a>

    
                <ul class="nm-link-list">
                    </ul>
    
                <div class="nm-md-standard-teaser-btn">
            <a class=" nm-el-btn nm-el-btn-01 nm-el-btn-ast" href="https://erleben-audi.de/aftersales" target="_blank" rel="nofollow">Katalog laden</a>
        </div>
    </div>

</div>


 


<div class="nm-module nm-md-standard-teaser nm-teaser nm-teaser-basic" data-module="standard-teaser">
    <strong class="nm-el-hdl nm-el-hdl-04 nm-at-hdl-b">
            <a class="" href="//shops.audi.com/de_DE/web/zubehoer" target="_blank">Zubehörfinder</a>
        </strong>
                <a class=" nm-goto-video-link" href="//shops.audi.com/de_DE/web/zubehoer" target="_blank" rel="nofollow">
                    <img src="/content/dam/audi/images/configurator/320x160_AOZ_A3_10244.jpg" alt="320x160_AOZ_A3_10244.jpg" style="width:300px">
                </a>
				<p class="nm-el-pg nm-el-pg-03">Noch mehr Ausstattung - der Zubehörfinder zeigt Ihnen individuelle Lösungen für Ihren Neu- oder Gebrauchtwagen von Audi.</p>
                <ul class="nm-link-list">
                    </ul>
    
                <div class="nm-md-standard-teaser-btn">
            <a class=" nm-el-btn nm-el-btn-01 nm-el-btn-ast" href="#" target="_blank" rel="nofollow">Zubehörfinder starten</a>
        </div>
    </div>




                        </div>
                    </div>


</div> 
<div id="owner_config" style="display:none">
<div class="brand-teaser-content">
                    <div class="container">
                        <div class="row">


                            <div class="col-lg-4">
                                <img class="nonmobile hidden-xs" src="/content/dam/audi/images/configurator/360x576_Teaser_Substage_CTA_select.jpg" style="width:100%">
                            </div>
							 <div class="col-lg-3" style="padding-left:2px">
                                <img class="nonmobile hidden-xs" src="/content/dam/audi/images/configurator/360x260_range.jpg" style="padding-bottom:40px;">
                                <img class="nonmobile hidden-xs" src="/content/dam/audi/images/configurator/360x260_Audi_all_in_one.jpg" style="padding-top:15px;">
                            </div>
                            <div class="col-lg-3" style="padding-left:80px;">
                                <img class="nonmobile hidden-xs" src="/content/dam/audi/images/configurator/360x260_Diesel.jpg" style="padding-bottom:40px;">
                                <img class="nonmobile hidden-xs" src="/content/dam/audi/images/configurator/360x260_Substage_Q-Offensive_Q3.jpg" style="padding-top:15px;">
                            </div>
                        </div>
                    </div>
                </div>


</div>

<script type="text/javascript">
    SETUPS.set('nemo.url.carinfo', '');

    $(document).ready(function() {
        $(".nm-winter").on("click", function() {
            $(".w_code").css({
                "display": "block",
                "background-color": "rgba(0,0,0,0.4)",
                "z-index":9999
            });
        });
        $(".nm-button-close").on("click", function() {

            $(".w_code").css({
                "display": "none"
            });
        });

    });
</script>


<div class="nm-layer-wrapper nm-default-layer w_code" style="display:none">
    <div class="nm-layer nm-layer-visible" data-layer-type="cms">
        <div class="nm-layer-toolbar"><a class="nm-button-back nm-hidden nm-el-btn nm-el-btn-03 nm-at-btn-img">Zurück</a>
            <div class="nm-button-close nm-b-icon nm-icon-close"><span>X</span>
            </div>
        </div>
        <div class="nm-layer-inner">

            <div class="nm-layer-head " data-module="layer-stage" data-video-state="notplayed">
                <div class="nm-layer-image "> <img src="/content/dam/audi/images/configurator/1300x551_Layer_Winter_2016_noCTA.jpg" alt="1300x551_Layer_Winter_2016_noCTA.jpg"> </div>
            </div>

            <input type="checkbox" name="Mehr" id="nm-navigation-layer-more-btn" class="nm-navigation-layer-more-btn" value="value">
            <div class="nm-navigation-sub" data-module="navigation-tab">
                <ul class="nm-navigation-derivative-sub-list"> </ul>
            </div>

            <div class="nm-layer-content clearfix">
                <div class="parbase tracking">
                    <noscript> &lt;img src="//audiag.112.2o7.net/b/ss/audiag227503/?[AQB]c41=no-script[AQE]" height="1" width="1" border="0" alt=""/&gt; </noscript>
                    <div class="nm-track-load" data-track-account="audiag227503"></div>
                </div>

                <div class="nm-2col nm-alpha clearfix">
                    <div class="nm-module">

                        <h2 class="nm-md-headline-normal nm-el-hdl nm-el-hdl-03 nm-at-hdl-b" data-module="headline">Attraktive Winter-Angebote</h2>
                        <p class="nm-module nm-md-textblock-large nm-el-pg nm-el-pg-01" data-module="textblock-large"> Für Wintersportbegeisterte gilt: Mit den attraktiven Winter-Angeboten von Audi&nbsp;Service beginnt der Spaß schon auf der Fahrt in den Schnee.</p>
                        <div class="nm-module nm-md-text-html" data-module="text-html">
                            <p class="nm-el-pg nm-el-pg-03">Nähere Informationen zu unseren Serviceleistungen sowie eine überzeugende Auswahl an Audi&nbsp;Original&nbsp;Teilen und Audi&nbsp;Original&nbsp;Zubehör finden Sie in unserem Flyer als PDF zum Download.</p>
                        </div>

                    </div>
                </div>
                <div class="nm-1col nm-beta">
                    <div class="nm-module">

                        <div class="nm-module nm-md-standard-teaser nm-teaser nm-teaser-basic" data-module="standard-teaser"> <strong class="nm-el-hdl nm-el-hdl-04 nm-at-hdl-b"> <a class="" href="https://www.audi.de/dam/nemo/customer-area/servicing-your-audi/campaigns/carcheck-winter/pdf/TZB_03-16_UVP_e1.pdf" target="_blank"></a> </strong>
                            <ul class="nm-link-list"> </ul>
                            <div class="nm-md-standard-teaser-btn"> <a class=" nm-el-btn nm-el-btn-01 nm-el-btn-ast" href="https://www.audi.de/dam/nemo/customer-area/servicing-your-audi/campaigns/carcheck-winter/pdf/TZB_03-16_UVP_e1.pdf" target="_blank" rel="nofollow">Download PDF</a> </div>
                        </div>

                        <div class="nm-module nm-md-standard-teaser nm-teaser nm-teaser-basic" data-module="standard-teaser"> <strong class="nm-el-hdl nm-el-hdl-04 nm-at-hdl-b"> <a class="" href="https://www.audi.de//de/brand/de/haendlersuche.html" target="_blank">Audi Partner finden</a> </strong>
                            <p class="nm-el-pg nm-el-pg-03">Sie haben das passende Angebot nicht gefunden? Dann fragen Sie Ihren Audi Partner, dieser hält weitere attraktive Angebote für Ihren Audi bereit.</p>
                            <ul class="nm-link-list"> </ul>
                            <div class="nm-md-standard-teaser-btn"> <a class=" nm-el-btn nm-el-btn-01 nm-el-btn-ast" href="https://www.audi.de/de/brand/de/haendlersuche.html" target="_blank" rel="nofollow">Suche starten</a> </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>