

<!-- <script src="/etc/designs/audi/clientlib-configurator/a6_config.js"></script> -->
<script src="/etc/designs/audi/clientlib-configurator/nemo.lib.min.js"></script>
<script src="/etc/designs/audi/clientlib-configurator/nemo.app.min.js"></script>


<script>
   /* $(window).load(function(){

			var a_code = JSON.parse(readCookie('audicode'));
            if(a_code !== null){
                var prString = readCookie('prString');
                if(prString !== undefined){
                       var url = "https://www.audi.de/bin/dpu-de/configuration?context=nemo-de%3Ade&ids="+ encodeURIComponent(prString);
                       $.getJSON( url, function( data ) {});
                    var url1 = "https://www.audi.de/bin/dpu-de/audicode?context=nemo-de%3Ade&subsession=87482132-40&ids="+ encodeURIComponent(prString);
                    $.getJSON( url, function( data ) {});

                }

            }  
	});  */  

</script>


