<div class="hidden-xs row no-gutter haendlertool start mb5" style="display: block">
	<div class="col-xs-12 col-md-4">
		<div class="haendlerbox">
			<h2>${properties.heading}</h2>
			<div class="haendlerSuche">
				<input type="text" id="searchLocation" placeholder="Geben Sie Ort/Postleitzahl" />
				<button class="submitHaendlersuche" id="searchButton">
					<img src="/content/dam/audi/images/desktop/haendlersuche.gif">
				</button>
			</div>
            <div id="mapErrorMessage" style="display:none"><p>${properties.errorMessage}</p><br/></div>
			<p>
				${properties.searchDealertext}<br><br>
                <a href="#">${properties.searchText}</a>
			</p>
		</div>
	</div>
	<div class="col-xs-12 col-md-8">
		<div class="haendlerkarte">
			<div id="map-canvas" style="height: 365px;"></div>
		</div>
	</div>
</div>

<script src="/etc/designs/audi/clientlib-all/locatorMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6eWIntKaE1ua6ef_XV7s5WK67D7Vf48U&libraries=places&language=de&callback=initialize"></script>