<div class="hidden-xs row no-gutter kontakthilfe-login">
                    <div class="col-xs-12 col-md-8">
                        <div class="kontakthilfe-visual">
                            <a href="#">
                                <img src="img/kontakt_und_hilfe_teaser.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="login step1">
                            <h2>myAudi Login</h2>
                            <p>Sie sind bereits myAudi Kunde?</p>
                            <button rel="loginStep1">Login</button>
                            <p>Welche Vorteile bietet Ihnen ein myAudi Account</p>
                            <a href="#">Mehr erfahren &gt;</a>
                        </div>

							<div class="login step2">
                            <h2>myAudi Login</h2>
                            <form>
                                <input type="text" id="email" name="email" placeholder="E-Mail-Adresse" value="">
                                <input type="password" id="password" name="password" placeholder="Passwort" value="">
                            </form>
                            <button rel="loginStep2">Login</button>
                            <a href="#">Jetzt registrieren &gt;</a>
                            <a href="#">Passwort vergessen &gt;</a>
                        </div>
                        <div class="login step3">
                            <h2>myAudi Login</h2>
                            <p>Eingeloggt als: <span class="eingeloggter_user"></span></p>
                            <button rel="loginStep3">Logout</button>
                        </div>
                    </div>

                </div>