<div
	data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
	data-sly-unwrap>
	<clientlib
		data-sly-call="${clientLib.all @ categories='Audi.component,Authentication'}"
		data-sly-unwrap />
</div>
<div class="hidden-xs row no-gutter kontakthilfe-login" style="display:block">
	<div class="col-xs-12 col-md-8">
		<div class="kontakthilfe-visual">
			<a href="${properties.Imagelink}"> <img src="${properties.image}" id="edit-save">
			</a>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="login step1 loginsteps">
			<h2>${properties.title}</h2>
			<p>${properties.queryText @ context='html'}</p>
			<button rel="loginStep1" id="loginStep1">Login</button>
			<p>${properties.logindesc @ context='html'}</p>

		</div>

		<div class="login step2 loginsteps">
			<h2>${properties.title}</h2>
			<form>
				<input type="text" id="email" name="email"
					placeholder="E-Mail-Adresse" value="">
					<div id="invalid_email" style="display: none;">Invalid
			Email Address!</div>
                    <input
					type="password" id="password" name="password"
					placeholder="Passwort" value="">
			</form>
            <div id="invalid_error" style="display: none;">Invalid
				Credentials!</div>
			<button rel="loginStep2" id="loginStep2">Login</button>
			<a href="#">${properties.regnow @ context='html'}</a> 

		</div>
		<div class="login step3 loginsteps">
		<h2>${properties.title}</h2>
		<p>
			${properties.loggedText @ context='html'}: <span
				class="eingeloggter_user"></span>
		</p>
		<button rel="loginStep3" id="loginStep3">Logout</button>
	</div>
		
	</div>
	
</div>

